.movies__container {
  width: 100%;
  min-height: 90vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  padding: 1rem 0;
}
.search__movie--container {
  width: 200px;
  height: 250px;
  display: grid;
  grid-template-rows: 8fr 2fr;
  align-items: center;
  place-items: center;
}
.search__movie--image {
  height: 200px;
  cursor: pointer;
}
.search__movie--title {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  text-overflow: clip;
  color: var(--color-text-light);
}

@media  screen and (max-width: 500px) {
  .search__movie--container {
    width: 300px;
    height: 350px;
    display: grid;
    grid-template-rows: 8fr 2fr;
    align-items: center;
    place-items: center;
  }
  .search__movie--image {
    height: 320px;
    cursor: pointer;
  }
}