@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
:root {
  --color-primary: #da0037;
  --color-text-light: #ededed;
  --color-text-dark: #262626;
  --color-semi-dark: #444444;
  --color-dark: #171717;
  --neon-text-color: #f40;
  --neon-border-color: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: var(--color-dark);
  color: rgb(38, 38, 38);
}
a {
  color: inherit;
  text-decoration: none;
}

.app__container--main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
